<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('font', path='font.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>문제</title>
</head>
<body>
    <div id="modal" style="text-align: center; font-family: 'content-extrabold'; font-size: 25px; margin-top: 100px; display: none; line-height: 40px;">
        문제를 채점 중입니다.<br>
        잠시만 기다려 주세요...
    </div>
    <div id="main" style="display: block;">
        <br><br>
        <div style="text-align: center; font-family: 'content-extrabold'; font-size: 25px; margin-top: 10px;">
            [&nbsp;&nbsp;Problem {{ data.id }}&nbsp;&nbsp;]
        </div><br><br>
        
        <span style="text-align: center; font-family: 'content-extrabold'; font-size: 25px; margin-top: 10px;">
            Q
        </span> {{ data.problem }} ({{ data.score }} pts.)
        <hr>{{ data.example}}<hr><br>
        {% for sp in data.sub_problem %}
            <span style="text-align: center; font-family: 'content-extrabold'; font-size: 25px; margin-top: 10px;">
                {{ sp.sub_problem_id }}.
            </span>&nbsp;&nbsp;{{ sp.problem }} ({{ sp.score }} pts.) <br><br>
            <textarea class="answer" style="width: 99%; height: 150px; resize: none; border-radius: 8px;"></textarea><br><br>
        {% endfor %}
        <div style="text-align: center;">
            <button style="padding: 5px; width: 99%; height: 45px; font-size: 17px; border-radius: 8px; font-size: 17px;" onclick="submit_problem()">Submit Problem</button>
        </div>
        <br><br><br><br><br>
    </div>
    
</body>
</html>
<script>
    const submit = document.getElementsByClassName("answer");
    const main = document.getElementById("main");
    const modal = document.getElementById("modal");

    function submit_problem(){
        main.style.display = "none";
        modal.style.display = "block";

        answer = [];
        for(let i = 0; i < submit.length; i++){
            answer.push(submit[i].value);
        }

        data = {
            "answer": answer,
            "problem_id": "{{ data.id }}" * 1
        }

        $.ajax({
            type : "post",
            url : "/problem/submit",
            data : JSON.stringify(data),
            contentType : "application/json; charset=utf-8",
            error : function(err){
                alert("문제를 채점하는데 실패했습니다. 잠시후 다시 시도해주세요.")
                window.location.href = "/problem/" + "{{ data.id }}";
            },
            success : function(res){
                alert("문제 채점을 완료했습니다!")
                window.location.href = "/submit/" + res["submit_id"]
            }
        });
    }
</script>
<style>
    body{
        font-family: 'content';
        font-size: 17px;
        width: 500px;
        background-color: black;
        color: white;
        height: 100vh;
        border: 1px solid black;
        margin: 0 auto;
        line-height: 25px;
    }

    .description{
        color: gray;
        font-size: 14px;
    }
</style>